.fa-solid {
  font-size: 30px;
  color: $color2;
}
.left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  z-index: 1;
}
.right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  z-index: 1;
}

.off {
  display: none;
}
