.fa-solid {
  font-size: 30px;
  color: $color2;
}
.left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  z-index: 2;
  @media screen and (max-width: 720px) {
    left: 10px;
  }
}
.right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  z-index: 2;
  @media screen and (max-width: 720px) {
    right: 10px;
  }
}

.off {
  display: none;
}
