.dynamic-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 125px;
  color: $bgcolor2;
  width: 50%;
  margin: 130px auto;
  min-height: 80vh;
}
