.footer--pin {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  margin-left: 30px;
  margin-right: 30px;
  background: $color-txt;
  z-index: 1;
  padding: 10px 0px;
  color: $bgcolor2;
}
