.project-container {
  min-height: 100vh;
}
.head-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 70vh;
  img {
    height: 700px;
    width: 100%;
    z-index: 1;
    object-fit: cover;
    object-position: top;
  }
  .title-ctn {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 20px 0px;
    background: rgb(35, 35, 35);
    background: linear-gradient(
      90deg,
      rgba(35, 35, 35, 1) 0%,
      rgba(35, 35, 35, 0) 100%
    );
    z-index: 1;

    h2 {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      color: $bgcolor1;
      opacity: 1;
      font-size: 3rem;
      @media screen and (max-width: 720px) {
        font-size: 1.5rem;
      }
    }
  }
}
.infos-site {
  background: $bgcolor1;
  padding: 20px 30px;
  position: relative;
  color: $color-txt;
  .languages {
    display: flex;
    gap: 20px;
    padding: 0;
    color: $bgcolor1;
    li {
      background: $color1;
      padding: 5px 10px;
      border-radius: 7px;
    }
  }
}

.extern-links {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: flex-end;
}

.button-container {
  background: $color1;
  max-width: 100px;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
  bottom: -15px;
  right: 10px;
  transition: all 0.3s ease-in-out;

  span {
    color: $bgcolor1;
  }
  &:hover {
    background: $color2;
  }
}

.button-git {
  background: $bgcolor2;
  text-align: right;
  border-radius: 50%;

  .fa-github {
    border-radius: 50%;
    font-size: 2rem;
    color: $color1;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: $color2;
    }
  }
}
