@font-face {
  font-family: "Rubik";
  src: url(../assets/fonts/Rubik/Rubik-VariableFont_wght.ttf);
}
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  background: #232323;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

main {
  position: relative;
  height: 100vh;
}

.contact {
  position: absolute;
  width: 100vw;
  height: 100vh;
}
.contact .form-container {
  margin: 7% 0 0 24%;
  max-width: 50%;
  position: relative;
  max-width: 300px;
}
@media screen and (max-width: 740px) {
  .contact .form-container {
    margin: 2rem 0 0 30%;
  }
}
@media screen and (max-width: 440px) {
  .contact .form-container {
    margin-left: 2rem;
  }
}
.contact .form-container h2 {
  margin-bottom: 50px;
}
.contact .form-container h2:after {
  content: "";
  height: 70px;
  width: 70px;
  border: 1px #c84737 solid;
  border-radius: 50%;
  position: absolute;
  top: -22px;
  left: 133px;
  z-index: -1;
}
.contact .form-container .form-content {
  display: grid;
}
.contact .form-container .form-content input,
.contact .form-container .form-content textarea {
  background: none;
  font-family: arial;
  font-size: 1.2rem;
  border-bottom: 1px solid #c84737;
  border-radius: 5px;
}
@media screen and (min-width: 1200px) {
  .contact .form-container .form-content input,
  .contact .form-container .form-content textarea {
    font-size: 1.5rem;
  }
}
.contact .form-container .form-content input {
  padding: 10px 6px;
  margin-bottom: 30px;
}
.contact .form-container textarea {
  resize: none;
  padding: 6px 0;
  height: 70px;
}
@media screen and (max-width: 540px) {
  .contact .form-container textarea {
    width: 100%;
    padding: 12px 0;
  }
}
.contact .form-container input.button {
  background: #f8f7f3;
  height: 55px;
  width: 126px;
  border-radius: 50px;
  margin-top: 20px;
  font-size: 1.2rem;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: none;
}
.contact .form-message p {
  border-radius: 20px;
  text-align: center;
  padding: 5px 0;
}
.contact .form-message .success {
  background: rgb(139, 248, 139);
}
.contact .form-message .error {
  background: rgb(246, 147, 147);
}

.contact-infos {
  position: absolute;
  bottom: 0;
  right: 0;
  display: grid;
  grid-template-rows: repeat(4, 23%) 12%;
  height: 70%;
  width: 30%;
  max-width: 500px;
}
@media screen and (max-width: 740px) {
  .contact-infos {
    height: 200px;
    width: 100%;
    max-width: 100%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "a b c" "d d d" "e e f";
  }
}
@media screen and (max-width: 540px) {
  .contact-infos {
    grid-template-rows: repeat(3, 60px);
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "b b b c c c" "d d d d d d" "e e e e f f";
  }
}
@media screen and (max-height: 500px) {
  .contact-infos {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .contact-infos {
    width: 35%;
    height: 83%;
  }
}
.contact-infos h4 {
  color: #c84737;
  font-size: 1.3rem;
  font-weight: 200;
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .contact-infos h4 {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 1200px) {
  .contact-infos p {
    font-size: 1.5rem;
  }
}
@media screen and (max-height: 640px) {
  .contact-infos .email,
  .contact-infos .phone {
    display: none;
  }
}
.contact-infos .email .content p,
.contact-infos .phone .content p {
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.contact-infos .email .content p:hover,
.contact-infos .phone .content p:hover {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}
.contact-infos .address {
  position: relative;
}
@media screen and (max-width: 540px) {
  .contact-infos .address {
    display: none;
  }
}
.contact-infos .address .content {
  position: absolute;
  right: 10px;
}
.contact-infos .phone {
  position: relative;
}
@media screen and (max-width: 540px) {
  .contact-infos .phone {
    text-align: center;
    font-size: 0.8rem;
    grid-area: b;
  }
}
.contact-infos .phone .content {
  position: absolute;
  left: 40%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media screen and (max-width: 540px) {
  .contact-infos .phone .content {
    position: relative;
    margin: 0 auto;
    left: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@media screen and (max-width: 540px) {
  .contact-infos .email {
    grid-area: c;
    font-size: 0.8rem;
    text-align: center;
  }
}
.contact-infos .social-network {
  position: relative;
  width: 80%;
  margin: 0 auto;
}
@media screen and (max-width: 740px) {
  .contact-infos .social-network {
    width: 50%;
    grid-area: d;
  }
}
@media screen and (min-width: 1200px) {
  .contact-infos .social-network {
    font-size: 2rem;
  }
}
.contact-infos .social-network .content {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.contact-infos .credits {
  text-align: center;
}
@media screen and (max-width: 740px) {
  .contact-infos .credits {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    font-size: 0.7rem;
    margin-right: 1rem;
    grid-area: f;
  }
}
.contact-infos .credits p {
  font-size: 0.9rem;
}

a,
div {
  text-decoration: none;
  color: #232323;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

a:hover,
label:hover {
  color: #c84737;
  cursor: pointer;
}

#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  max-width: 250px;
  z-index: 10;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

/*
         * Just a quick hamburger
         */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #37b8c8;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menuToggle span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

/*
         * Transform all the slices of hamburger
         * into a crossmark.
         */
#menuToggle input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
          transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
         * But let's hide the middle one.
         */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

/*
         * Ohyeah and the last one should go the other direction
         */
#menuToggle input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px);
}

/*
         * Make this absolute positioned
         * at the top left of the screen
         */
#menu {
  position: absolute;
  width: 250px;
  max-width: 250px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  height: 100vh;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 5px 0;
  font-size: 22px;
}

/*
         * And let's slide it in from the left
         */
#menuToggle input:checked ~ ul {
  -webkit-transform: none;
          transform: none;
}

.onclick-menu {
  cursor: pointer;
}

/* Menu apparant */
.slide {
  clear: both;
  padding: 0 0;
  height: 0px;
  overflow: hidden;
  text-align: left;
  -webkit-transition: height 0.4s ease;
  transition: height 0.4s ease;
}

#touch {
  position: absolute;
  opacity: 0;
  height: 0px;
}

#touch:checked + .slide {
  height: 200px;
}
#touch:checked + .slide li {
  padding: 5px 0;
}

.logo {
  position: absolute;
  top: 30px;
  right: 50px;
  color: #edece6;
  z-index: 10;
}
.logo__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.logo__container__bar {
  height: 45px;
  width: 2px;
  background: #c84737;
  margin-right: 20px;
}
.logo__container__txt {
  color: #edece6;
}
.logo__container__txt h1 {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 15px;
}
.logo__container__txt h2 {
  font-weight: 200;
  font-size: 1rem;
  line-height: 15px;
}

.fa-solid {
  font-size: 30px;
  color: #c84737;
}

.left {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 20px;
  z-index: 1;
}

.right {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 20px;
  z-index: 1;
}

.off {
  display: none;
}

.project-container {
  height: 100vh;
}

.head-container {
  margin-top: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  height: 70vh;
}
.head-container img {
  height: 700px;
  width: 80%;
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  margin: 0 auto;
}
.head-container .title-ctn {
  position: absolute;
  bottom: 0;
  padding: 0 50px;
  background: #edece6;
  border-radius: 0px 0 0 0;
  width: 40%;
  margin: 0% 10%;
  height: 100px;
  text-align: left;
  z-index: 1;
}
.head-container .title-ctn h2 {
  color: #c84737;
  font-size: 3rem;
}

.infos-site {
  width: 40%;
  background: #edece6;
  min-height: 200px;
  margin: -16px 10% 0 10%;
  padding: 0 50px 20px;
  position: relative;
  margin-bottom: 30px;
  z-index: 2;
}
.infos-site .languages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  padding: 0 0;
  color: #222222;
}

.button-container {
  position: absolute;
  background: #37b8c8;
  max-width: 100px;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
  bottom: -15px;
  right: 10px;
}

.button-git {
  position: absolute;
  background: #edece6;
  text-align: center;
  border-radius: 50%;
  bottom: -25px;
  right: 150px;
}
.button-git .fa-github {
  border-radius: 50%;
  font-size: 3rem;
  color: #37b8c8;
}

.overlay {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 1;
  background: #232323;
  opacity: 1;
  -webkit-transition: opacity 250ms ease-in-out;
  transition: opacity 250ms ease-in-out;
}

.dynamic-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 125px;
  color: #edece6;
  width: 50%;
  margin: 135px auto;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 135px auto;
}
.form h2 {
  color: #edece6;
}/*# sourceMappingURL=index.css.map */